*

!.gitignore

!.zshrc
!.ideavimrc

!.config/
.config/*

!.config/alacritty/
!.config/alacritty/**

!.config/fuzzel/
!.config/fuzzel/**

!.config/nvim/
!.config/nvim/**

!.config/nvim-new/
!.config/nvim-new/**

!.config/river/
!.config/river/**

!.config/swaync/
!.config/swaync/**

!.config/tmux/
!.config/tmux/**

!.config/waybar/
!.config/waybar/**

!.config/xdg-desktop-portal/
!.config/xdg-desktop-portal/**

.DS_Store
