" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" set the leader key to space
let mapleader = ' '


set scrolloff=5
set ideaput
set ideajoin
set idearefactormode=visual

" case insensitive searching
set ignorecase
set smartcase

set clipboard+=unnamedplus

" Do incremental searching.
set incsearch

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" vim surround
Plug 'tpope/vim-surround'

set mini-ai

set NERDTree

" set which-key
set notimeout
let g:WhichKey_ShowVimActions = 'true'

let g:WhichKeyDesc_gy = 'gy [g]o to T[y]pe Declaration'
nmap gy <Action>(GotoTypeDeclaration)

let g:WhichKeyDesc_gy = 'gs [g]o to [s]uper Declaration'
nmap gs <Action>(GotoSuperMethod)


let g:WhichKeyDesc_code = '<leader>c +Code'

let g:WhichKeyDesc_code_rename = '<leader>cr [C]ode [R]ename'
nmap <leader>cr <Action>(RenameElement)

let g:WhichKeyDesc_code_format = '<leader>cf [C]ode [F]ormat'
nmap <leader>cf <Action>(ReformatCode)

let g:WhichKeyDesc_code_optimize = '<leader>co [C]ode [O]ptimize'
nmap <leader>co <Action>(OptimizeImports)

let g:WhichKeyDesc_code_generate = '<leader>cg [C]ode [G]enerate'
nmap <leader>cg <Action>(Generate)

let g:WhichKeyDesc_code_action = '<leader>ca [C]ode [A]ctions'
nmap <leader>ca <Action>(ShowIntentionActions)

let g:WhichKeyDesc_search = '<leader><Space> Search Everywhere'
nmap <leader><Space> <Action>(SearchEverywhere)

let g:WhichKeyDesc_grep = '<leader>/ Grep'
nmap <leader>/ <Action>(FindInPath)


nmap <M-j> <Action>(MoveLineDown)
nmap <M-k> <Action>(MoveLineUp)
nmap <M-S-j> <Action>(EditorDuplicate)
nmap <M-S-k> <cmd>t .-1<cr>

let g:WhichKeyDesc_z = '<leader>z +Useful [Z]tuff'

let g:WhichKeyDesc_zt = '<leader>zt Track Actions'
nmap <leader>zt <Action>(VimFindActionIdAction)

let g:WhichKeyDesc_zf = '<leader>zf reload all [f]iles'
nmap <leader>zf <Action>(Synchronize)

let g:WhichKeyDesc_zz = '<leader>zz Re[Z]tart'
nmap <leader>zz <Action>(RestartIde)


let g:WhichKeyDesc_b = '<leader>b +[B]uffers'

let g:WhichKeyDesc_bd = '<leader>bd Close active buffer'
nmap <leader>bd <Action>(CloseEditor)

" map gcc to comment


let g:WhichKeyDesc_g = '<leader>g +[G]it'

let g:WhichKeyDesc_gh = '<leader>gh +[H]unk'

let g:WhichKeyDesc_ghr = '<leader>ghr [G]it [H]unk [R]eset'
nmap <leader>ghr = <Action>(Vcs.RollbackChangedLines);

let g:WhichKeyDesc_ghb = '<leader>ghr [G]it [H]unk [B]lame'
nmap <leader>ghb = <Action>(Annotate);



let g:WhichKeyDesc_j = '<leader>j +[J]ava'

let g:WhichKeyDesc_jo = '<leader>jo [J]ava [O]verride'
nmap <leader>jo <Action>(OverrideMethods)

let g:WhichKeyDesc_bracketd = '\]d next diagnostic'
nmap ]d <Action>(GotoNextError)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
